/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
https://visionary-smakager-051a4c.netlify.app/*/
body {
  margin-top: 80px auto;
}
.col {
  margin: 10px;
}
p,
h1,
h2 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
